version: '3'
services:
    openttd:
        image: bateau/openttd:latest
        ports:
            - "3979:3979/tcp"
            - "3979:3979/udp"
        volumes:
            - ./openttd:/home/openttd/.openttd:z
        environment:
            loadgame: "false"
            savegame: "hakier-game.sav"
